---
layout: template.njk
title: Glossary
permalink: rules/glossary/
tags: rules_page
---

<h2> Glossary </h2>
<table class='table'>
    {% for k, v in glossary %}
    <tr>
        <td> {{ k }} </td> <td> {{ v }} </td>
    </tr>
    {% endfor %}
</table>