:root {
    /* Restyle collapse elements (to look good in the sidebar) */
    --collapse-content-padding: 0;
    --collapse-header-padding-with-bg-image: 0.5rem 2rem 0.5rem 4rem;
    --collapse-header-border-radius: 0;
    --collapse-header-border-width: 0;
    --collapse-content-border-width: 0;
    --lm-collapse-header-bg-color: rgba(0, 0, 0, 0);
    --dm-collapse-header-bg-color: rgba(0, 0, 0, 0);

    /* Make fonts bigger */
    --base-font-size: 2rem;
    --sidebar-title-font-size: var(--base-font-size);

    --navbar-brand-image-height: 2.5rem;

    /* Make dark theme darker */
    --dark-color-light: #141416;
    --dark-color: #1c1c1e;
    --dark-color-dark: #242426;

    /* Restyle tooltips */
    --tooltip-width: 50rem;
    --lm-tooltip-text-color: var(--lm-base-text-color);
    --lm-tooltip-bg-color: var(--white-bg-color);
    --dm-tooltip-text-color: var(--dm-base-text-color);
    --dm-tooltip-bg-color: var(--dark-color);

    /* Remove blue focus border */
    --lm-button-box-shadow-focus: rgba(0, 0, 0, 0);
    --dm-button-box-shadow-focus: rgba(0, 0, 0, 0);
    --lm-collapse-header-focus-effect-box-shadow: inset 0 0 0 0 var(--primary-color-light);
    --dm-collapse-header-focus-effect-box-shadow: inset 0 0 0 0 var(--primary-color-dark);

    /* Resize alert heading to match other resized text */
    --alert-heading-font-size: font-size: calc(1.75*var(--base-font-size));

    --css-scrollbar-width: default;
}

h1 {
    font-size: calc(2.5*var(--base-font-size));
}
h2 {
    font-size: calc(2.25*var(--base-font-size));
}
h3 {
    font-size: calc(2*var(--base-font-size));
}
h4 {
    font-size: calc(1.75*var(--base-font-size));
}
h5 {
    font-size: calc(1.5*var(--base-font-size));
}
h6 {
    font-size: calc(1.25*var(--base-font-size));
}

/* More tooltip styling */
[data-toggle="tooltip"]::after {
    text-align: left;
    z-index: 50;
}

/* More collapse styling (to look good in the sidebar) */
.collapse-content {
    margin: 0.5rem 2.8rem;
    border-left: 2px solid var(--dark-color);
    border-radius: 0;
}

.collapse-content > .sidebar-link, .sidebar-title {
    margin: 0;
    padding: 0.5rem;
    padding-left: 1rem;
}

body {
    font-family: 'Jost', sans-serif;
}

.keyword {
    font-family: 'Inconsolata', monospace;
    cursor: pointer;
    color: #f478ff;
}

ul, ol {
    margin-left: 1em;
}

li {
    list-style-position: outside;
}

.modal-title {
    color: #ffffff;
}
