@font-face {
    font-family: 'Lexend';
    src: url('./fonts/Lexend/Lexend-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Black Ops One';
    src: url('./fonts/BlackOpsOne/BlackOpsOne-Regular.ttf');
}

:root {
    --mech-h: #ddd;
    --mech-p: #fff;
    --mech-bg: #222;
    --mech-fg1: #333;
    --mech-fg2: #222;
    --mech-orange: #ffc862ff;
    --mech-gradient:
        linear-gradient(
            to right,
            #ffffffff 0%,
            #dfffacff 20%,
            #ffc862ff 60%,
            #ffc862ff 100%
        );
}

@media (prefers-color-scheme: light)
{
    :root {
        --mech-h: #000;
        --mech-p: #000;
        --mech-bg: #fff;
        --mech-fg1: #ddd;
        --mech-fg2: #bbb;
    }
}

html{
    font-family: 'Lexend';
    text-align: justify;
    margin: 0;
    font-size: 16px;
    color: var(--mech-p);
    background-color: var(--mech-bg);
}

body{
    margin: 0;
    height: 100vh;
}
title{ color: var(--mech-h)}
h1{ color: var(--mech-h)}
h2{
    color: var(--mech-h);
    font-family: 'Black Ops One';
    display: inline;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: 100% 4px;
    background-image: var(--mech-gradient)
}
h3{ color: var(--mech-h)}
p{
    text-indent: 2em;
}
ul{
    list-style: none;
}
ul:not(.tree-view, .tree-group) li:before{
    color: var(--mech-orange);
    content: '▸';
    margin: 0 1em;
}
a{
    color: var(--mech-orange);
}
.tree-view{
    margin: 0;
    padding-left: 0;
}
.tree-header{
    background-color: var(--mech-fg1);
    margin: 0;
    padding: 0.3em;
    cursor: pointer;
}
.tree-group>li>*{
    padding-left: 1em;
}
.tree-item{
    margin: 0.5em;
    cursor: pointer;
}
.tree-header:before{
    content: '+';
    margin: 0.2em;
}
.tree-header-expanded:before{
    content: '-';
    margin: 0.2em;
}
.tree-group{
    background-color: var(--mech-fg2);
    padding: 0;
    display: none;
}
.tree-group-expanded {
    display: block;
}
#main-nav{
    background-color: var(--mech-fg1);
    width: 250px;
}
#main-content-section{
    flex-grow: 1;
}
#main-content{
    width: 100%;
    height: 100%;
}
img{
    margin: 1em;
}
.flex-container{
    display: flex;
    align-content: stretch;
    width: 100%;
    height: 100%;
}
.rules-page{
    margin: 2em;
    margin-right: 20%;
}