---
layout: template.njk
title: Solar System
permalink: lore/solar-system/
tags: lore_page
---
<h2> Solar System </h2>

<img src="/images/solar-system-labeled.svg">

<div class="card d-flex flex-wrap">
  <img id="planet-img" class="w-lg-quarter w-full mb-20">
  <div class="w-lg-three-quarter">
    <select class="form-control" id="select-planet" onchange="onchange_planet()">
      <option value="ilythia">Ilythia</option>
      <option value="kaminos">Kaminos</option>
      <option value="okeanos">Okeanos</option>
      <option value="cheilos">Cheilos</option>
      <option value="megalos">Megalos</option>
      <option value="katagaida">Katagaida</option>
      <option value="sosipolis">Sosipolis</option>
      <option value="xeimonas">Xeimonas</option>
      <option value="karvouno">Karvouno</option>
      <option value="efferos">Efferos</option>
      <option value="mnimi">Mnimi</option>
    </select>
    <p id="planet-description"></p>
  </div>
</div>

<script>
  var select_planet = document.getElementById("select-planet");
  var planet_img = document.getElementById("planet-img");
  var planet_name = document.getElementById("planet-name");
  var planet_description = document.getElementById("planet-description");
  var planets = null;

  loadPlanetsJson("/lore/planets.json")
  onchange_planet()

  function onchange_planet() {
    var value = select_planet.value;
    planet_img.src = planets[value]["img"]
    planet_description.innerHTML = planets[value]["description"]
  }

  function loadPlanetsJson(path) {
    fetch(path)
      .then((response) => response.json())
      .then((json) => planets = json);
  }

</script>